<h1>sign in </h1>

<form action="/user/session" method="POST">
    <input type="email" name="email" placeholder="Your E-Mail">
    <input type="password" name="password" placeholder="Password">
    <button type="submit">sign in</button>
</form>

<p>
    <a href="/user/auth/google">Google Sign In/Sign Up</a>
</p>